/* h1: font-family: 'Abril Fatface', cursive; */
/* p: font-family: 'Abril Fatface', cursive;
font-family: 'Josefin Sans', sans-serif; */

body {
  background: rgb(49, 128, 117);
}

h1 {
  color: white;
  font-family: "Abril Fatface", cursive;
  font-size: 100px;
  font-weight: normal;
}

p {
  font-family: "Abril Fatface", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  color: white;
}

.social-media {
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.fa-linkedin,
.fa-github,
.fa-envelope {
  border-radius: 40px;
  background-color: rgb(20, 58, 228);
  padding: 8px;
  margin: 10px;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-envelope:hover {
  transition: all 200ms ease-in-out;
  background-color: white;
  color: rgb(20, 58, 228);
  cursor: pointer;
}
