/* h1: font-family: 'Abril Fatface', cursive; */
/* p: font-family: 'Abril Fatface', cursive;
font-family: 'Josefin Sans', sans-serif; */

body {
  background: rgb(253, 253, 253);
}

h1 {
  color: rgb(137, 74, 173);
  font-family: "Abril Fatface", cursive;
  font-size: 100px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0px;
}

p {
  font-family: "Abril Fatface", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Open Sans", cursive;
  font-size: 26px;
  color: rgb(14, 13, 13);
  margin-bottom: 0px;
}

.dev-img img {
  width: 280px;
}

.hero {
  max-width: 1940px;
  padding: 30px 150px 10px 150px;
  align-items: center;
  margin: 100px 150px 60px 150px;
}

.home {
  margin-left: 0px;
  margin-right: 0px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.introduction {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
}

.button-about {
  text-align: center;
}

.button-about a {
  border-radius: 10px;
  border: 1px;
  padding: 15px;
  text-decoration: none;
  background-color: #6c63ff;
  color: white;
  box-shadow: 10px 8px 5px rgb(14, 13, 13, 0.3);
}
